{% extends "layouts/base.njk" %}

{% from "nhsuk/components/inset-text/macro.njk" import insetText as nhsukInsetText %}

{% block beforeContent %}
  {{ nhsukBreadcrumb({
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ appSubNavigation({
        items: collections.navigation | eleventyNavigation(sectionKey or options.homeKey) | itemsFromNavigation(page.url, { pathPrefix: options.pathPrefix })
      }) }}
    </div>
    <div class="nhsuk-grid-column-three-quarters">
      {{ appDocumentHeader({
        caption: caption,
        title: title,
        description: description
      }) }}

      {% if toReplacePlaceholders | default(false) %}
        {% set insetText = "Replace placeholders with the correct names, dates and URLs." %}
      {% else %}
        {% set insetText = "Mavis automatically inserts the correct names, dates, URLs and contact information for your team." %}
      {% endif %}

      {{ nhsukInsetText({
        text: insetText
      }) }}

      <article class="app-text-message">
        {{ content | safe }}
      </article>
    </div>
  </div>
{% endblock %}
